.idea/
HF_key.json
data/
__pycache__/
output/
lora-shepherd-Qwen3b/
*.out
*.sbatch

lora-qwen-2b/
resault/

lora-Qwen2.5-1.5B/

lora-Qwen2.5-1.5B-Instruct/
lora-Qwen3-4B-Instruct-2507/
lora-qwen3-8b/

lora-Qwen2.5-1.5B-Instruct/

lora-Qwen2.5-1.5B-Instruct/
lora-Qwen3-4B-Instruct-2507/
lora-qwen3-8b/

# large raw CWRU train files
dataset/cwru/condition*/train_data.json
